pkgbase = btop-git
	pkgdesc = A monitor of system resources, bpytop ported to C++
	pkgver = 1.4.4
	pkgrel = 5
	url = https://github.com/yuheho7749/btop
	arch = x86_64
	license = Apache-2.0
	makedepends = lowdown
	makedepends = rocm-smi-lib
	depends = gcc-libs
	depends = glibc
	optdepends = rocm-smi-lib: AMD GPU support
	source = https://github.com/yuheho7749/btop.git
	sha256sums = SKIP

pkgname = btop-git
